* { word-break: keep-all; }
*:lang(ja) {
  word-break: break-all;
}
*:lang(zh-Hans) {
  word-break: break-all;
}
*:lang(zh-Hant-TW) {
  word-break: break-all;
}

.hidden{display: none !important;}

.comment-box{
  border : 1px solid #ccc;
  border-radius: 10px;
  width : 100%;
  max-width : 924px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding : 10px;
  margin-top : 30px;
  margin-bottom : 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* BM Question  */
.bm-question .select-disabled {
    opacity: 50%;
    pointer-events: none;
}

.bm-question .grid-list-mode .row-elements {
  max-width : 380px;
}

.bm-question .row-elements+.row-elements, .bm-question .row-elements+.row-group {
  margin-top : 0 !important;
}

.bm-question .grid-list-mode tbody:nth-child(2) {
  display: flex;
  gap: 10px;
}

@media all and (max-width: 800px){
  .bm-question .grid-list-mode tbody:nth-child(2) {
    flex-direction: column;
  }
}

.bm-question .cell-text {
  margin-top: 10px;
  font-weight: bold;
}

.bm-question .fir-select {
  width : 100%;
}

.bm-question .dropdown {
  min-width: 100% !important;
}

.bm-question .indent-1 {
  padding-right: 1.167em;
}

.bm-question .select-oe-div{
  margin-top: 5px;
}

.bm-question .other-open {
  border-radius: 5px;
  width : 100% !important;
}

.bm-question .input-disabled {
  pointer-events: none;
  background-color: #e3e2e2 !important;
}
.bm-question .row-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

@media all and (max-width: 675px){
 .bm-question .row-text {
    align-items: flex-start;
  }
}

.bm-question .none {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  font-weight: normal;
}

.bm-question .none-input {
  margin-left: 5px;
}

.bm-question .none-input .fir-icon {
  display: none !important;
}

.bm-question .none-input .fir-hidden {
  left: auto !important;
}

.bm-question .grid-list-mode .row-elements{
  border : 1px solid #ccc;
  padding : 10px;
  border-radius : 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.bm-question .grid-list-mode .row-legend-left{
  font-weight : bold;
  border-bottom : 1px solid #ccc;
  padding-bottom : 10px;
}
.bm-question .grid-list-mode .row-legend-right{
  font-weight : bold;
  border-top : 1px solid #ccc;
  padding-top : 10px;
  margin-bottom: 10px;
}

.bm-question .grid-list-mode .mobile-group-legend{
  font-weight : bold;
  border-bottom : 1px solid #ccc;
  padding-bottom : 10px;
  margin-bottom : 10px;
}
/* ------------  */


